// this file should contain all of the lettering styles to switch between
.verticalColumnSmall {
	width: 9px;
	font-size: 8px;
	z-index: 1;
}
.verticalColumnMedium {
	width: 17px;
	font-size: 16px;
	z-index: 50;
}
.verticalColumnLarge {
	width: 25px;
	font-size: 24px;
	z-index: 100;
}
